/* 
	Lance Foley
	Author: Lance Foley
	Version: 0.0.1
*/
/* _normalize.scss */
.extra-pad {
  padding-top: 30px;
  padding-bottom: 30px; }

.art-breathe {
  padding-top: 10px;
  padding-bottom: 10px; }

.extra-pad-proj {
  padding-top: 15px;
  padding-bottom: 15px; }

.extra-pad-top {
  padding-top: 40px; }

.extra-pad-bottom {
  padding-bottom: 20px;
  margin-bottom: 20px; }

.space-pad {
  padding-bottom: 20px;
  margin-bottom: 20px; }

.space-pad-2 {
  padding-bottom: 10px;
  margin-bottom: 10px; }

.space-pad3 {
  padding-bottom: 20px;
  margin-bottom: 20px; }

.extra-pad-left {
  padding-left: 30px; }

.extra-pad-right {
  padding-right: 30px; }

.margin-right {
  margin-right: 30px; }

.margin-left {
  margin-left: 30px; }

.pad-foot {
  padding-top: 10px;
  padding-bottom: 10px; }

/* _base.scss */
.body2 {
  margin: 0;
  background: url("../img/IMG_0240.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.body3 {
  margin: 0;
  background: black no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.body-about {
  margin: 0;
  background: url("../img/bg/lance3_2800x1867.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.intro {
  font-family: "PT Serif", serif;
  font-size: 28px !important;
  line-height: 1.2em;
  text-align: center;
  color: white !important;
  font-weight: normal;
  margin-top: 10px !important; }
  .intro a:link {
    color: white !important;
    font-style: italic;
    font-weight: normal;
    font-size: 28px !important; }
  .intro a:hover {
    color: white !important;
    text-decoration: none; }
  .intro a:focus {
    color: white !important;
    text-decoration: none; }
  .intro a:active {
    color: white !important;
    text-decoration: none; }

/* Back button */
/*.scroll-top-wrapper {
  position: fixed;
  opacity: 0.7;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.5);
  color: #eeeeee;
  width: 90px;
  height: 90px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: rgba(0, 230, 0, 0.5);
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
} */
/* END Back button */
h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 30px !important;
  color: black !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important; }

.title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px !important;
  color: black !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important; }

.large {
  font-family: "PT Sans", sans-serif;
  font-size: 5em !important;
  line-height: .80em !important;
  color: black !important;
  font-weight: bold;
  margin-top: 5% !important;
  margin-bottom: 10px !important;
  margin-left: 0 !important; }

h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 30px !important;
  color: #b0afaf !important;
  font-weight: bold;
  margin-top: 5px !important;
  margin-bottom: 50px !important;
  margin-left: 0px !important; }

h3 {
  font-family: "PT Serif", serif;
  font-size: 28px !important;
  line-height: 1.2em;
  color: black !important;
  font-weight: normal;
  margin-top: 10px !important; }
  h3 a:link {
    color: #b0afaf !important;
    font-style: italic;
    font-weight: normal;
    font-size: 28px !important; }
  h3 a:hover {
    color: black !important;
    text-decoration: none; }
  h3 a:focus {
    color: black !important;
    text-decoration: none; }
  h3 a:active {
    color: black !important;
    text-decoration: none; }

h4 {
  font-family: "PT Sans", sans-serif;
  font-size: 3em !important;
  line-height: 1.2em;
  text-align: left;
  color: black !important;
  font-weight: normal;
  margin-top: 10px !important; }
  h4 a:link {
    color: black !important;
    font-style: italic;
    font-weight: normal;
    font-size: 28px !important; }
  h4 a:hover {
    color: black !important;
    text-decoration: none; }
  h4 a:focus {
    color: black !important;
    text-decoration: none; }
  h4 a:active {
    color: black !important;
    text-decoration: none; }

h5 {
  font-family: "PT Sans", sans-serif;
  font-size: 7em !important;
  line-height: 1em !important;
  color: black !important;
  font-weight: bold;
  margin-top: 10% !important;
  margin-bottom: 10px !important;
  margin-left: 15% !important; }
  h5 a:link {
    color: black !important;
    text-decoration: none; }
  h5 a:hover {
    color: black !important;
    text-decoration: none; }
  h5 a:focus {
    color: black !important;
    text-decoration: none; }
  h5 a:visited {
    color: black !important;
    text-decoration: none; }
  h5 a:active {
    color: black !important;
    text-decoration: none; }

h6 {
  font-family: "PT Serif", serif;
  font-size: 1.3em !important;
  line-height: 1.3em !important;
  color: black !important;
  opacity: 0.5;
  font-style: italic;
  margin-top: 10px !important; }

h7 {
  font-family: "PT Sans", sans-serif;
  font-size: 1em !important;
  line-height: 1.2em;
  text-align: left;
  color: black !important;
  font-weight: normal;
  margin-top: 10px !important;
  border-bottom: thin solid #000000;
  border-left: none;
  border-right: none;
  border-top: none; }
  h7 a:link {
    color: black !important;
    font-style: italic;
    font-weight: normal;
    font-size: 28px !important; }
  h7 a:hover {
    color: black !important;
    text-decoration: none; }
  h7 a:focus {
    color: black !important;
    text-decoration: none; }
  h7 a:active {
    color: black !important;
    text-decoration: none; }

.proj-title {
  font-family: "PT Sans", sans-serif;
  font-size: 1em !important;
  line-height: 1.2em;
  text-align: left;
  color: black !important;
  font-weight: normal;
  margin-top: 10px !important;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none; }
  .proj-title a:link {
    color: black !important;
    text-decoration: none; }
  .proj-title a:hover {
    color: black !important;
    text-decoration: none; }
  .proj-title a:focus {
    color: black !important;
    text-decoration: none; }
  .proj-title a:active {
    color: black !important;
    text-decoration: none; }

.proj-info {
  font-family: "PT Sans", sans-serif;
  font-size: .75em !important;
  line-height: 1.2em;
  text-align: left;
  color: black !important;
  font-weight: normal;
  margin-top: 10px !important;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none; }
  .proj-info a:link {
    color: black !important;
    font-style: italic;
    font-weight: normal;
    font-size: 28px !important; }
  .proj-info a:hover {
    color: black !important;
    text-decoration: none; }
  .proj-info a:focus {
    color: black !important;
    text-decoration: none; }
  .proj-info a:active {
    color: black !important;
    text-decoration: none; }

.category {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 3em !important;
  line-height: 1.4em;
  text-align: left;
  color: black !important;
  font-weight: normal;
  margin-top: 10px !important;
  padding-bottom: 80px !important;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none; }
  .category a:link {
    color: black !important;
    text-decoration: none; }
  .category a:hover {
    color: black !important;
    text-decoration: none; }
  .category a:focus {
    color: black !important;
    text-decoration: none; }
  .category a:active {
    color: black !important;
    text-decoration: none; }

.poem1 {
  font-family: "PT Sans", sans-serif;
  font-size: 3em !important;
  line-height: 1.2em;
  text-align: left;
  color: black !important;
  font-weight: normal;
  margin-top: 10px !important; }

.poem2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5em !important;
  line-height: 1.2em;
  text-align: left;
  color: black !important;
  font-weight: normal;
  margin-top: 10px !important; }

.textcontainer {
  height: 500px;
  line-height: 430px; }

.textcontainer2 {
  height: 300px;
  line-height: 300px; }

.textcontainer3 {
  height: 325px;
  line-height: 325px; }

.textcontainer4 {
  height: 300px;
  line-height: 300px; }

.textcontainer5 {
  height: 400px;
  line-height: 300px; }

.vcenter {
  font-family: "PT Sans", sans-serif;
  font-size: 1.1em !important;
  line-height: 1.5em !important;
  color: black !important;
  opacity: 0.5;
  font-style: none;
  margin-top: 10px !important;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.5em !important;
  margin-right: 1.5em !important; }

.vcenter2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.1em !important;
  line-height: 1.5em !important;
  color: black !important;
  opacity: 0.5;
  font-style: none;
  margin-top: 3em !important;
  margin-bottom: 3em !important;
  margin-left: 1.5em !important;
  margin-right: 1.5em !important;
  display: inline-block;
  vertical-align: middle; }

.list-arthome {
  font-family: "PT Sans", sans-serif;
  color: black !important;
  text-decoration: none !important;
  font-style: italic !important; }
  .list-arthome a:link {
    color: black !important;
    font-style: none;
    font-weight: normal;
    font-size: 16px;
    padding-top: 20px !important;
    margin-top: 20px !important;
    text-decoration: none !important; }
  .list-arthome a:hover {
    color: black !important;
    text-decoration: none; }
  .list-arthome a:focus {
    color: black !important;
    text-decoration: none; }
  .list-arthome a:active {
    color: black !important;
    text-decoration: none; }
  .list-arthome a:visited {
    color: black !important;
    text-decoration: none; }

.list-new {
  font-family: "PT Sans", sans-serif;
  color: black !important;
  text-decoration: none !important; }
  .list-new a:link {
    color: black !important;
    font-style: none;
    font-weight: normal;
    font-size: 16px;
    padding-top: 20px !important;
    margin-top: 20px !important;
    text-decoration: none !important; }
  .list-new a:hover {
    color: black !important;
    text-decoration: none; }
  .list-new a:focus {
    color: black !important;
    text-decoration: none; }
  .list-new a:active {
    color: black !important;
    text-decoration: none; }
  .list-new a:visited {
    color: black !important;
    text-decoration: none; }

.new {
  color: #b0afaf !important;
  font-family: "PT Sans", sans-serif;
  text-decoration: none !important;
  letter-spacing: 0.02em;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  overflow: hidden;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; }
  .new a:link {
    color: #b0afaf !important;
    font-style: none;
    font-weight: normal;
    font-size: 16px;
    padding-top: 20px !important;
    margin-top: 20px !important;
    text-decoration: none; }
  .new a:hover {
    color: #b0afaf !important;
    text-decoration: none; }
  .new a:focus {
    color: #b0afaf !important;
    text-decoration: none; }
  .new a:active {
    color: #b0afaf !important;
    text-decoration: none; }
  .new a:visited {
    color: #b0afaf !important;
    text-decoration: none; }

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-primary {
  background-color: black; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-circle, .btn-lg {
  width: 50px;
  height: 50px;
  padding: 5px 4px 8px;
  font-size: 18px;
  line-height: 16px;
  border-radius: 25px;
  background-color: black;
  text-align: center; }
  .btn-primary:hover a:hover, .btn-primary:focus a:hover, .btn-primary:active a:hover, .btn-primary.active a:hover, .btn-circle a:hover, .btn-lg a:hover {
    color: white !important;
    text-decoration: none; }
  .btn-primary:hover a:focus, .btn-primary:focus a:focus, .btn-primary:active a:focus, .btn-primary.active a:focus, .btn-circle a:focus, .btn-lg a:focus {
    color: white !important;
    text-decoration: none; }
  .btn-primary:hover a:visited, .btn-primary:focus a:visited, .btn-primary:active a:visited, .btn-primary.active a:visited, .btn-circle a:visited, .btn-lg a:visited {
    color: white !important;
    text-decoration: none; }
  .btn-primary:hover a:active, .btn-primary:focus a:active, .btn-primary:active a:active, .btn-primary.active a:active, .btn-circle a:active, .btn-lg a:active {
    color: white !important;
    text-decoration: none; }

.about-text {
  font-family: "PT Sans", sans-serif;
  font-size: 2em !important;
  line-height: 1.2em;
  color: black !important;
  font-weight: normal;
  margin-bottom: 10px !important;
  margin-left: 0px !important;
  margin-top: 6% !important; }
  .about-text a:link {
    color: #b0afaf !important;
    font-style: normal;
    font-weight: normal; }
  .about-text a:hover {
    color: black !important;
    text-decoration: none; }
  .about-text a:focus {
    color: black !important;
    text-decoration: none; }
  .about-text a:visited {
    color: black !important;
    text-decoration: none; }
  .about-text a:active {
    color: black !important;
    text-decoration: none; }

.page-header {
  font-family: "PT Sans", sans-serif;
  font-size: 16px !important;
  color: black !important;
  font-weight: bold; }

.footer-top {
  text-align: center;
  font-family: "PT Serif", serif;
  letter-spacing: 0.02em;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  overflow: hidden; }
  .footer-top a:link {
    color: white !important;
    font-style: italic;
    font-weight: normal;
    font-size: 1.4em; }
  .footer-top a:hover {
    color: white !important;
    text-decoration: none; }
  .footer-top a:focus {
    color: white !important;
    text-decoration: none; }
  .footer-top a:visited {
    color: white !important;
    text-decoration: none; }
  .footer-top a:active {
    color: white !important;
    text-decoration: none; }

.footer-back {
  text-align: center;
  font-family: "PT Serif", serif;
  letter-spacing: 0.02em;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  overflow: hidden; }
  .footer-back a:link {
    color: black !important;
    font-style: italic;
    font-weight: normal;
    font-size: 2em; }
  .footer-back a:hover {
    color: black !important;
    text-decoration: none; }
  .footer-back a:focus {
    color: black !important;
    text-decoration: none; }
  .footer-back a:visited {
    color: black !important;
    text-decoration: none; }
  .footer-back a:active {
    color: black !important;
    text-decoration: none; }

.main-copy {
  font-family: "PT Serif", serif;
  letter-spacing: 0.02em;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  overflow: hidden; }
  .main-copy a:link {
    color: #b0afaf !important;
    font-style: italic;
    font-weight: normal;
    font-size: 1.4em; }
  .main-copy a:hover {
    color: #b0afaf !important;
    text-decoration: none; }
  .main-copy a:focus {
    color: #b0afaf !important;
    text-decoration: none; }
  .main-copy a:visited {
    color: #b0afaf !important;
    text-decoration: none; }
  .main-copy a:active {
    color: #b0afaf !important;
    text-decoration: none; }

.main-copy-2 {
  font-family: "PT Serif", serif;
  color: black !important;
  font-size: 1.4em;
  letter-spacing: 0.02em;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  overflow: hidden; }
  .main-copy-2 a:link {
    color: #b0afaf !important;
    font-style: italic;
    font-weight: normal;
    font-size: 1.4em; }
  .main-copy-2 a:hover {
    color: #b0afaf !important;
    text-decoration: none; }
  .main-copy-2 a:focus {
    color: #b0afaf !important;
    text-decoration: none; }
  .main-copy-2 a:visited {
    color: #b0afaf !important;
    text-decoration: none; }
  .main-copy-2 a:active {
    color: #b0afaf !important;
    text-decoration: none; }

.project-style {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.6em;
  padding-bottom: 0px !important;
  overflow: hidden; }
  .project-style .large {
    font-size: 1.4em; }
    .project-style .large a:link {
      color: #b0afaf !important;
      font-style: normal;
      font-weight: normal; }
    .project-style .large a:hover {
      color: black !important;
      text-decoration: none; }
    .project-style .large a:focus {
      color: black !important;
      text-decoration: none; }
    .project-style .large a:active {
      color: black !important;
      text-decoration: none; }
  .project-style .small {
    font-size: 1em; }
    .project-style .small a:link {
      color: #b0afaf !important;
      font-style: normal;
      font-weight: normal; }
    .project-style .small a:hover {
      color: black !important;
      text-decoration: none; }
    .project-style .small a:focus {
      color: black !important;
      text-decoration: none; }
    .project-style .small a:active {
      color: black !important;
      text-decoration: none; }

.underline {
  font-size: 4.8em;
  font-family: "PT Sans", sans-serif;
  line-height: .9em;
  align: left;
  padding-bottom: 15px !important;
  padding-top: 10px !important;
  border-bottom: thin solid #000000;
  border-left: none;
  border-right: none;
  border-top: none; }

.side-copy {
  font-size: 4.8em;
  font-family: "PT Sans", sans-serif;
  line-height: .9em;
  align: left;
  padding-bottom: 15px !important;
  padding-top: 0px !important;
  border-bottom: thin solid #000000;
  border-left: none;
  border-right: none;
  border-top: none; }

.side-copy-2 {
  font-size: 1.6em;
  font-family: "PT Sans", sans-serif;
  line-height: 1.4em;
  align: left;
  padding-bottom: 0px !important;
  padding-top: 13px !important;
  padding-left: 2% !important;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none; }
  .side-copy-2 a:link {
    color: #b0afaf !important;
    font-style: normal;
    font-weight: normal; }
  .side-copy-2 a:hover {
    color: #b0afaf !important;
    text-decoration: none; }
  .side-copy-2 a:focus {
    color: #b0afaf !important;
    text-decoration: none; }
  .side-copy-2 a:active {
    color: #b0afaf !important;
    text-decoration: none; }

body {
  font-family: "PT Serif", serif;
  font-size: 16px;
  line-height: 1.4em;
  color: black; }

a {
  color: black;
  letter-spacing: 0.5px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important; }
  a a:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important; }
  a .lurge-link:link {
    font-size: 24px;
    font-style: italic; }
  a .lurge-link:hover {
    font-size: 24px;
    font-style: italic;
    color: black; }
  a .grey {
    color: #b0afaf;
    letter-spacing: 0.5px; }

a img {
  border: none !important;
  outline: none !important;
  box-shadow: none !important; }
  a img a:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important; }

img.device {
  width: 100%;
  border-style: none; }

.thumb-1 {
  padding: 1px 1px 1px 1px !important;
  border-style: none; }

.extra-pad-top2 {
  padding-top: 30px;
  padding-bottom: 30px; }

.extra-pad-top3 {
  padding-top: 15px;
  padding-bottom: 15px; }

.extra-pad-footer {
  padding-top: 80px !important;
  padding-bottom: 80px !important; }

.extra-pad-right {
  padding-right: 0px !important; }

.list-unstyled.love li {
  font-family: "PT Sans", sans-serif;
  position: relative;
  padding: 0 7% 5% 7%; }
  .list-unstyled.love li a:link {
    color: black !important;
    font-style: normal;
    font-weight: normal; }
  .list-unstyled.love li a:hover {
    color: black !important;
    text-decoration: none; }
  .list-unstyled.love li a:focus {
    color: black !important;
    text-decoration: none; }
  .list-unstyled.love li a:active {
    color: black !important;
    text-decoration: none; }

/* ======= change the no-love image ========== */
.jumbotron {
  height: 100%;
  background-image: url("../img/one.jpg");
  background-size: cover; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?6pxcm3");
  src: url("../fonts/icomoon.eot?6pxcm3#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6pxcm3") format("truetype"), url("../fonts/icomoon.woff?6pxcm3") format("woff"), url("../fonts/icomoon.svg?6pxcm3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mail:before {
  content: "\e900"; }

.icon-mail2:before {
  content: "\e901"; }

.bg-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; }

.bg-video #player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2; }

.bg-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; }

.extra-pad-sect {
  padding-top: 40px;
  padding-bottom: 40px; }

.copyright {
  font-family: "PT Sans", sans-serif;
  font-size: 10px !important;
  letter-spacing: 0.5px;
  padding-bottom: 20px !important;
  padding-top: 14px !important;
  text-decoration: none !important;
  list-style-type: none; }

/* _sections.scss */
#rectangle {
  width: 160px;
  height: 1px;
  background: black; }

.selected img {
  opacity: 0.5; }

div#slider-thumbs ul {
  height: 85px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth; }

/* #####################################################################
   #
   #   Project       : Modal Login with jQuery Effects
   #   Author        : Rodrigo Amarante (rodrigockamarante)
   #   Version       : 1.0
   #   Created       : 07/28/2015
   #   Last Change   : 08/02/2015
   #
   ##################################################################### */
#login-modal .modal-dialog {
  width: 350px; }

#login-modal input[type=text], input[type=password] {
  margin-top: 10px; }

#div-login-msg,
#div-lost-msg,
#div-register-msg {
  border: 1px solid #dadfe1;
  height: 30px;
  line-height: 28px;
  transition: all ease-in-out 500ms; }

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
  border: 1px solid #68c3a3;
  background-color: #c8f7c5; }

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
  border: 1px solid #eb575b;
  background-color: #ffcad1; }

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
  width: 30px;
  float: left;
  line-height: 28px;
  text-align: center;
  background-color: #dadfe1;
  margin-right: 5px;
  transition: all ease-in-out 500ms; }

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
  background-color: #68c3a3 !important; }

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
  background-color: #eb575b !important; }

#img_logo {
  max-height: 100px;
  max-width: 100px; }

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8; }

.modal-content {
  background-color: #ececec;
  border: 1px solid #bdc3c7;
  border-radius: 0px;
  outline: 0; }

.modal-header {
  min-height: 16.43px;
  padding: 15px 15px 15px 15px;
  border-bottom: 0px; }

.modal-body {
  position: relative;
  padding: 5px 15px 5px 15px; }

.modal-footer {
  padding: 15px 15px 15px 15px;
  text-align: left;
  border-top: 0px; }

.checkbox {
  margin-bottom: 0px; }

/*
.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}
*/
.glyphicon {
  top: 0px; }

.form-control {
  border-radius: 0px; }

/* #####################################################################
   #
   #   Project       : Footer
   #   Author        : Lance Foley
   #   Version       : 1.0
   #   Created       : 08/19/2018
   #   Last Change   : 
   #
   ##################################################################### */
/* 
input[type=text] {
  background-color: #ffffff !important;
  font-family: $nav-font-family;
  font-size: 10px !important;
  letter-spacing: 0.5px;
  padding-bottom: 0px !important;
  padding-top: 14px !important;
  text-decoration: none !important; 
}

.form-control {
    border: 0;
}


.no-border {
    border: 0;
    box-shadow: none; 
}

*/
.btn-arrow {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-bottom: 10px; }

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 10px !important;
  letter-spacing: 0.5px; }

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

.footer-padding {
  padding-top: 10px;
  padding-bottom: 50px; }

.footer-bs {
  background-color: #ffffff;
  padding: 10px 0px;
  color: black;
  margin-bottom: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
  padding: 40px 25px; }

.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
  border-color: transparent; }

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px; }

.footer-bs .footer-nav ul.pages a {
  color: black;
  font-weight: bold;
  text-transform: uppercase; }

.footer-bs .footer-nav ul.pages a:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none; }

.footer-bs .footer-nav {
  font-family: "PT Sans", sans-serif;
  font-size: 10px !important;
  letter-spacing: 0.5px;
  padding-bottom: 0px !important;
  padding-top: 14px !important;
  text-decoration: none !important;
  list-style-type: none; }

.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px; }

.footer-bs .footer-nav ul.list li {
  padding: 5px 0px; }

.footer-bs .footer-nav ul.list a {
  color: rgba(0, 0, 0, 0.8); }

.footer-bs .footer-nav ul.list a:hover {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none; }

.footer-bs .footer-ns {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px; }

.footer-bs .footer-ns p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7); }

@media (min-width: 768px) {
  .footer-bs .footer-social, .footer-bs .footer-ns {
    border-left: solid 1px black; } }
/* -----------------------------------------------------------------------------

  NAVBAR BLACK
  
----------------------------------------------------------------------------- */
#custom-navbar {
  border: none;
  background: none; }

#custom-navbar-brand {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 26px !important;
  color: white !important; }

#custom-nav {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 0px !important;
  padding-top: 0px !important; }
  #custom-nav a:link {
    color: white !important;
    text-decoration: none; }
  #custom-nav a:hover {
    color: white !important; }
  #custom-nav a:focus {
    color: white !important; }
  #custom-nav a:active {
    color: white !important; }

#custom-nav2 > li > a {
  color: white !important; }

#white-icon {
  background-color: white; }

#white-icon2 {
  background-color: white; }

#white-icon3 {
  background-color: white; }

/* -----------------------------------------------------------------------------

  NAVBAR
  
----------------------------------------------------------------------------- */
#navbar-fade {
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */ }

.navbar {
  border: none;
  background-color: rgba(255, 255, 255, 0.9); }

.navbar2 {
  border: none;
  background-color: rgba(255, 255, 255, 0.6); }

.navbar-brand {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 26px !important;
  color: black !important; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: black; }

.nav {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 0px !important;
  padding-top: 0px !important; }
  .nav a:hover {
    color: black !important; }
  .nav a:focus {
    color: black !important; }
  .nav a:active {
    color: black !important; }

.alil {
  padding-right: 20px; }

.nav2 {
  font-family: "PT Sans", sans-serif;
  font-size: 10px !important;
  letter-spacing: 0.5px;
  padding-bottom: 0px !important;
  padding-top: 14px !important;
  text-decoration: none !important;
  list-style-type: none; }
  .nav2 a:hover {
    color: black !important;
    text-decoration: none !important; }
  .nav2 a:focus {
    color: black !important;
    text-decoration: none !important; }
  .nav2 a:active {
    color: black !important;
    text-decoration: none !important; }

.navbar-default .navbar-nav > li > a {
  color: black !important; }

/* -----------------------------------------------------------------------------

  Hamburger collapse
  
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

  NEW ANIMATED 90 degree turn HAMBURGER CLASSES
  
----------------------------------------------------------------------------- */
.navbar-toggle {
  border: none;
  background: transparent !important; }
  .navbar-toggle:hover {
    background: transparent !important; }
  .navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s; }
  .navbar-toggle .top-bar {
    -webkit-transform: translateX(3px) rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform: translateX(3px) rotate(45deg);
    -ms-transform-origin: 10% 10%;
    transform: translateX(3px) rotate(45deg);
    transform-origin: 10% 10%; }
  .navbar-toggle .middle-bar {
    opacity: 0; }
  .navbar-toggle .bottom-bar {
    -webkit-transform: translateX(3px) rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform: translateX(3px) rotate(-45deg);
    -ms-transform-origin: 10% 90%;
    transform: translateX(3px) rotate(-45deg);
    transform-origin: 10% 90%; }

.navbar-toggle.collapsed .top-bar {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }
.navbar-toggle.collapsed .middle-bar {
  opacity: 1; }
.navbar-toggle.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.top-bar-modal {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.bottom-bar-modal {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

@media (min-width: 768px) {
  #divide {
    content: url(../img/art/Line.png); }

  .pad-left {
    padding-left: 15% !important; }

  .pad-right {
    padding-right: 15% !important; }

  .kill {
    display: none; }

  .nav {
    font-size: 14px; }
    .nav li {
      margin: 0px 0; }

  .nav2 {
    font-size: 14px; }
    .nav2 li {
      margin: 0px 0; } }
@media (max-width: 991px) {
  #divide {
    content: url(../img/art/Line.png); }

  .pad-left {
    padding-left: 10% !important; }

  .pad-right {
    padding-right: 10% !important; } }
h6 {
  font-size: 1.3em !important;
  line-height: 1.6em !important;
  font-style: italic;
  margin-top: 10px !important;
  margin-left: 15px !important;
  margin-right: 15px !important; }

@media (max-width: 767px) {
  #divide {
    content: url(../img/art/Line3.png); }

  .vcenter2 {
    font-family: "PT Sans", sans-serif;
    font-size: 1.1em !important;
    line-height: 1.5em !important;
    color: black !important;
    opacity: 0.5;
    font-style: none;
    margin-top: 1.5em !important;
    margin-bottom: .5em !important;
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
    display: inline-block;
    vertical-align: middle; }

  .textcontainer {
    height: 300px;
    line-height: 300px; }

  .textcontainer4 {
    height: 200px;
    line-height: 200px; }

  .space-pad {
    display: none; }

  #custom-nav {
    background-color: rgba(0, 0, 0, 0.8); }

  .navbar {
    background-color: rgba(255, 255, 255, 0.9); }

  .image-left {
    height: 50%;
    width: 50%;
    float: left !important;
    padding: 0 10px 0 0px !important; }

  .pad-left {
    padding-left: 0px !important; }

  .pad-right {
    padding-left: 0px !important; }

  .text-left {
    padding: 2em 0 0 0 !important; }

  .extra-pad-left {
    padding-left: 0px !important; }

  .extra-pad-right {
    padding-right: 0px !important; }

  .extra-pad-top {
    padding-top: 0px !important; }

  .extra-pad-top2 {
    padding-top: 10px;
    margin-top: 0px; }

  .extra-pad-proj {
    padding-top: 0px;
    padding-bottom: 0px; }

  .list-unstyled.love li {
    max-width: 767px;
    margin: 0 auto;
    padding: 0 0 40% 0px !important; }
    .list-unstyled.love li span {
      height: 70px;
      display: table-cell;
      vertical-align: bottom; }
  .list-unstyled.love img {
    height: 50%;
    width: 50%;
    float: left;
    padding: 0 10px 0 0px !important; }

  .device {
    display: block;
    margin: 20px auto 0 auto;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important; }
    .device a:focus {
      border: 0 !important;
      outline: none !important;
      box-shadow: none !important; }

  .device-small {
    margin-bottom: 20px !important; }

  .nav {
    font-size: 4em;
    line-height: 2em !important;
    text-align: center; }
    .nav li {
      margin: 40px 0; }

  .nav2 {
    font-size: 4em;
    line-height: 2em !important;
    text-align: center;
    padding-top: 0px !important; }
    .nav2 li {
      margin: 40px 0; }

  .alil {
    padding-right: 0px; }

  h2 {
    margin-bottom: 20px !important; }

  h4 {
    text-align: left;
    font-size: 2em !important;
    margin-left: 0px !important; }

  h5 {
    font-family: "PT Sans", sans-serif;
    font-size: 5em !important;
    line-height: .80em !important;
    color: black !important;
    font-weight: bold;
    margin-top: 5% !important;
    margin-bottom: 10px !important;
    margin-left: 0 !important; }
    h5 a:link {
      color: black !important;
      text-decoration: none; }
    h5 a:hover {
      color: black !important;
      text-decoration: none; }
    h5 a:focus {
      color: black !important;
      text-decoration: none; }
    h5 a:visited {
      color: black !important;
      text-decoration: none; }
    h5 a:active {
      color: black !important;
      text-decoration: none; }

  .lil-kill {
    display: none; }

  .extra-pad-footer {
    padding-top: 50px !important;
    padding-bottom: 50px !important; }

  .side-copy {
    font-size: 3em;
    font-family: "PT Sans", sans-serif;
    line-height: .9em;
    align: left;
    padding-bottom: 15px;
    margin-bottom: 15px; }

  .side-copy-2 {
    font-size: 1.5em;
    font-family: "PT Sans", sans-serif;
    line-height: 1.3em;
    align: left;
    padding-top: 4px;
    margin-left: 3%;
    margin-right: 2%; }

  #adjust {
    font-size: 4vw;
    align: center;
    text-align: center; }

  h6 {
    font-size: 1.3em !important;
    font-style: italic;
    margin-top: 10px !important;
    margin-left: 15px !important;
    margin-right: 15px !important; } }
