/* _base.scss */

.body2 {
     margin: 0;
     background: url('../img/IMG_0240.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.body3 {
     margin: 0;
     background: $black no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.body-about {
     margin: 0;
     background: url('../img/bg/lance3_2800x1867.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.intro {
    font-family: $serif-font-family;
    font-size: 28px !important;
    line-height: 1.2em;
    text-align: center;
    color: $white !important;
    font-weight: normal;
    margin-top: 10px !important;
    a:link{ 
      color: $white !important;
      font-style: italic;
      font-weight: normal;
      font-size: 28px !important;
    }
    a:hover{ 
      color: $white !important;
      text-decoration: none; 
    }
    a:focus{
      color: $white !important;
      text-decoration: none;     
    }
    a:active{
     color: $white !important; 
     text-decoration: none;    
    }
}

/* Back button */
/*.scroll-top-wrapper {
  position: fixed;
  opacity: 0.7;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.5);
  color: #eeeeee;
  width: 90px;
  height: 90px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: rgba(0, 230, 0, 0.5);
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
} */
/* END Back button */

h1 {
	font-family: $reg-font-family;
    font-size: 30px !important;
    color: $black !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

.title {
  font-family: $reg-font-family;
    font-size: 30px !important;
    color: $black !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

.large {
    font-family: $reg-font-family;
    font-size: 5em !important;
    line-height: .80em !important;
    color: $black !important;
    font-weight: bold;
    margin-top: 5% !important;
    margin-bottom: 10px !important;
    margin-left: 0 !important;
}

h2 {
	font-family: $reg-font-family;
    font-size: 30px !important;
    color: $lt-grey !important;
    font-weight: bold;
    margin-top: 5px !important;
    margin-bottom: 50px !important;
    margin-left: 0px !important;
}

h3 {
	font-family: $serif-font-family;
    font-size: 28px !important;
    line-height: 1.2em;
    color: $black !important;
    font-weight: normal;
    margin-top: 10px !important;
    a:link{ 
      color: $lt-grey !important;
      font-style: italic;
      font-weight: normal;
      font-size: 28px !important;
    }
    a:hover{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:focus{
      color: $black !important;
      text-decoration: none;     
    }
    a:active{
     color: $black !important; 
     text-decoration: none;    
    }
}

h4 {
	  font-family: $reg-font-family;
    font-size: 3em !important;
    line-height: 1.2em;
    text-align: left;
    color: $black !important;
    font-weight: normal;
    margin-top: 10px !important;
    a:link{ 
      color: $black !important;
      font-style: italic;
      font-weight: normal;
      font-size: 28px !important;
    }
    a:hover{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:focus{
      color: $black !important;
      text-decoration: none;     
    }
    a:active{
     color: $black !important; 
     text-decoration: none;    
    }
}

h5 {
	font-family: $reg-font-family;
    font-size: 7em !important;
    line-height: 1em !important;
    color: $black !important;
    font-weight: bold;
    margin-top: 10% !important;
    margin-bottom: 10px !important;
    margin-left: 15% !important;
    a:link{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:hover{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:focus{
      color: $black !important;
      text-decoration: none;     
    }
    a:visited{
      color: $black !important;
      text-decoration: none;     
    }
    a:active{
     color: $black !important; 
     text-decoration: none;    
    }
}

h6 {
	font-family: $serif-font-family;
    font-size: 1.3em !important;
    line-height: 1.3em !important;
    color: $black !important;
    opacity: 0.5;
    font-style: italic;
    margin-top: 10px !important;
}

h7 {
    font-family: $reg-font-family;
    font-size: 1em !important;
    line-height: 1.2em;
    text-align: left;
    color: $black !important;
    font-weight: normal;
    margin-top: 10px !important;
    border-bottom: thin solid #000000;
  border-left: none;
  border-right: none;
  border-top: none;
    a:link{ 
      color: $black !important;
      font-style: italic;
      font-weight: normal;
      font-size: 28px !important;
    }
    a:hover{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:focus{
      color: $black !important;
      text-decoration: none;     
    }
    a:active{
     color: $black !important; 
     text-decoration: none;    
    }
}


.proj-title {
    font-family: $reg-font-family;
    font-size: 1em !important;
    line-height: 1.2em;
    text-align: left;
    color: $black !important;
    font-weight: normal;
    margin-top: 10px !important;
    border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
    a:link{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:hover{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:focus{
      color: $black !important;
      text-decoration: none;     
    }
    a:active{
     color: $black !important; 
     text-decoration: none;    
    }
}


.proj-info {
  font-family: $reg-font-family;
  font-size: .75em !important;
  line-height: 1.2em;
  text-align: left;
  color: $black !important;
  font-weight: normal;
  margin-top: 10px !important;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
    a:link{ 
      color: $black !important;
      font-style: italic;
      font-weight: normal;
      font-size: 28px !important;
    }
    a:hover{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:focus{
      color: $black !important;
      text-decoration: none;     
    }
    a:active{
     color: $black !important; 
     text-decoration: none;    
    }
}


.category {
    font-family: $serif-font-family;
    font-style: italic;
    font-size: 3em !important;
    line-height: 1.4em;
    text-align: left;
    color: $black !important;
    font-weight: normal;
    margin-top: 10px !important;
    padding-bottom: 80px !important;
    border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
    a:link{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:hover{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:focus{
      color: $black !important;
      text-decoration: none;     
    }
    a:active{
     color: $black !important; 
     text-decoration: none;    
    }
}

.poem1 {
    font-family: $reg-font-family;
    font-size: 3em !important;
    line-height: 1.2em;
    text-align: left;
    color: $black !important;
    font-weight: normal;
    margin-top: 10px !important;
}


.poem2 {
    font-family: $reg-font-family;
    font-size: 1.5em !important;
    line-height: 1.2em;
    text-align: left;
    color: $black !important;
    font-weight: normal;
    margin-top: 10px !important;
}



.textcontainer {
    height: 500px;
    line-height: 430px;
}

.textcontainer2 {
    height: 300px;
    line-height: 300px;
}


.textcontainer3 {
    height: 325px;
    line-height: 325px;
}


.textcontainer4 {
    height: 300px;
    line-height: 300px;
}


.textcontainer5 {
    height: 400px;
    line-height: 300px;
}

.vcenter {
    font-family: $reg-font-family;
    font-size: 1.1em !important;
    line-height: 1.5em !important;
    color: $black !important;
    opacity: 0.5;
    font-style: none;
    margin-top: 10px !important;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
}

.vcenter2 {
    font-family: $reg-font-family;
    font-size: 1.1em !important;
    line-height: 1.5em !important;
    color: $black !important;
    opacity: 0.5;
    font-style: none;
    margin-top: 3em !important;
    margin-bottom: 3em !important;
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
    display: inline-block;
    vertical-align: middle; 
}


.list-arthome {
  font-family: $reg-font-family;
  color: $black !important;
  text-decoration: none !important;
  font-style: italic !important;
    a:link{ 
      color: $black !important;
      font-style: none;
      font-weight: normal;
      font-size: 16px;
      padding-top: 20px !important;
      margin-top: 20px !important;
      text-decoration: none !important; 
    }
    a:hover{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:focus{
      color: $black !important;
      text-decoration: none;     
    }
    a:active{
     color: $black !important; 
     text-decoration: none;    
    }
    a:visited{
      color: $black !important;
      text-decoration: none; 
    }
}

.list-new {
  font-family: $reg-font-family;
  color: $black !important;
  text-decoration: none !important;
    a:link{ 
      color: $black !important;
      font-style: none;
      font-weight: normal;
      font-size: 16px;
      padding-top: 20px !important;
      margin-top: 20px !important;
      text-decoration: none !important; 
    }
    a:hover{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:focus{
      color: $black !important;
      text-decoration: none;     
    }
    a:active{
     color: $black !important; 
     text-decoration: none;    
    }
    a:visited{
      color: $black !important;
      text-decoration: none; 
    }
}

.new {
  color: $lt-grey !important;
  font-family: $reg-font-family;
  text-decoration: none !important;
  letter-spacing: 0.02em;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  overflow: hidden;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
    a:link{ 
      color: $lt-grey !important;
      font-style: none;
      font-weight: normal;
      font-size: 16px;
      padding-top: 20px !important;
      margin-top: 20px !important;
      text-decoration: none; 
    }
    a:hover{ 
      color: $lt-grey !important;
      text-decoration: none; 
    }
    a:focus{
      color: $lt-grey !important;
      text-decoration: none;     
    }
    a:active{
     color: $lt-grey !important; 
     text-decoration: none;    
    }
    a:visited{
      color: $lt-grey !important;
      text-decoration: none; 
    }
}

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-primary {
  background-color: $black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-circle, .btn-lg {
  width: 50px;
  height: 50px;
  padding: 5px 4px 8px;
  font-size: 18px;
  line-height: 16px;
  border-radius: 25px;
  background-color: $black;
  text-align: center;
    a:hover{ 
      color: $white !important;
      text-decoration: none; 
    }
    a:focus{
      color: $white !important;
      text-decoration: none;     
    }
     a:visited{
      color: $white !important;
      text-decoration: none;     
    }
    a:active{
     color: $white !important; 
     text-decoration: none;    
    }
}

.about-text {
	font-family: $reg-font-family;
    font-size: 2em !important;
    line-height: 1.2em;
    color: $black !important;
    font-weight: normal;
    margin-bottom: 10px !important;
    margin-left: 0px !important;
    margin-top: 6% !important;
    a:link{ 
      color: $lt-grey !important;
      font-style: normal;
      font-weight: normal;
    }
    a:hover{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:focus{
      color: $black !important;
      text-decoration: none;     
    }
     a:visited{
      color: $black !important;
      text-decoration: none;     
    }
    a:active{
     color: $black !important; 
     text-decoration: none;    
    }
}

.page-header {
	font-family: $reg-font-family;
    font-size: 16px !important;
    color: $black !important;
    font-weight: bold;
}

.footer-top {
  text-align: center;
  font-family: $serif-font-family;
  letter-spacing: 0.02em;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  overflow: hidden;
    a:link{ 
      color: $white !important;
      font-style: italic;
      font-weight: normal;
      font-size: 1.4em;
    }
    a:hover{ 
      color: $white !important;
      text-decoration: none; 
    }
    a:focus{
      color: $white !important;
      text-decoration: none;     
    }
     a:visited{
      color: $white !important;
      text-decoration: none;     
    }
    a:active{
     color: $white !important; 
     text-decoration: none;    
    }
}

.footer-back {
  text-align: center;
  font-family: $serif-font-family;
  letter-spacing: 0.02em;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  overflow: hidden;
    a:link{ 
      color: $black !important;
      font-style: italic;
      font-weight: normal;
      font-size: 2em;
    }
    a:hover{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:focus{
      color: $black !important;
      text-decoration: none;     
    }
     a:visited{
      color: $black !important;
      text-decoration: none;     
    }
    a:active{
     color: $black !important; 
     text-decoration: none;    
    }
}

.main-copy {
  font-family: $serif-font-family;
  letter-spacing: 0.02em;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  overflow: hidden;
  	a:link{ 
      color: $lt-grey !important;
      font-style: italic;
      font-weight: normal;
      font-size: 1.4em;
    }
    a:hover{ 
      color: $lt-grey !important;
      text-decoration: none; 
    }
    a:focus{
      color: $lt-grey !important;
      text-decoration: none;     
    }
     a:visited{
      color: $lt-grey !important;
      text-decoration: none;     
    }
    a:active{
     color: $lt-grey !important; 
     text-decoration: none;    
    }
}

.main-copy-2 {
  font-family: $serif-font-family;
  color: $black !important;
  font-size: 1.4em;
  letter-spacing: 0.02em;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  overflow: hidden;
    a:link{ 
      color: $lt-grey !important;
      font-style: italic;
      font-weight: normal;
      font-size: 1.4em;
    }
    a:hover{ 
      color: $lt-grey !important;
      text-decoration: none; 
    }
    a:focus{
      color: $lt-grey !important;
      text-decoration: none;     
    }
     a:visited{
      color: $lt-grey !important;
      text-decoration: none;     
    }
    a:active{
     color: $lt-grey !important; 
     text-decoration: none;    
    }
}


.project-style {
  font-family: $reg-font-family;
  letter-spacing: 0.6em;
  padding-bottom: 0px !important;
  overflow: hidden;
  	.large {
  		font-size: 1.4em;
		  	a:link{ 
		      color: $lt-grey !important;
		      font-style: normal;
		      font-weight: normal;
		    }
		    a:hover{ 
		      color: $black !important;
		      text-decoration: none; 
		    }
		    a:focus{
		      color: $black !important;
		      text-decoration: none;     
		    }
		    a:active{
		     color: $black !important; 
		     text-decoration: none;    
		    }
	}
	.small {
  		font-size: 1em;
		  	a:link{ 
		      color: $lt-grey !important;
		      font-style: normal;
		      font-weight: normal;
		    }
		    a:hover{ 
		      color: $black !important;
		      text-decoration: none; 
		    }
		    a:focus{
		      color: $black !important;
		      text-decoration: none;     
		    }
		    a:active{
		     color: $black !important; 
		     text-decoration: none;    
		    }
	}
}

.underline {
  font-size: 4.8em;
  font-family: $reg-font-family;
  line-height: .9em;
  align: left;
  padding-bottom: 15px !important;
  padding-top: 10px !important;
  border-bottom: thin solid #000000;
  border-left: none;
  border-right: none;
  border-top: none;
}


.side-copy {
  font-size: 4.8em;
  font-family: $reg-font-family;
  line-height: .9em;
  align: left;
  padding-bottom: 15px !important;
  padding-top: 0px !important;
  border-bottom: thin solid #000000;
  border-left: none;
  border-right: none;
  border-top: none;
}

.side-copy-2 {
  font-size: 1.6em;
  font-family: $reg-font-family;
  line-height: 1.4em;
  align: left;
  padding-bottom: 0px !important;
  padding-top: 13px !important;
  padding-left: 2% !important;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
    a:link{ 
      color: $lt-grey !important;
      font-style: normal;
      font-weight: normal;
    }
    a:hover{ 
      color: $lt-grey !important;
      text-decoration: none; 
    }
    a:focus{
      color: $lt-grey !important;
      text-decoration: none;     
    }
    a:active{
     color: $lt-grey !important; 
     text-decoration: none;    
    }
} 

body {
	font-family: $serif-font-family;
	font-size: $serif-font-size;
	line-height: 1.4em;
	color: $black;
}

a {
	color: $black;
	letter-spacing: 0.5px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
    a:focus{
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
		.lurge-link:link{
			font-size: 24px;
			font-style: italic;
		}
		.lurge-link:hover{
			font-size: 24px;
			font-style: italic;
			color: $black;
		}
    .grey{
      color: $lt-grey;
      letter-spacing: 0.5px;
    }
}

a img {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
    a:focus{
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
}

img.device{
  width: 100%;
  border-style: none;
}


.thumb-1 {
  padding: 1px 1px 1px 1px !important;
  border-style: none;
}


// Lists
.extra-pad-top2{
  padding-top: 30px;
  padding-bottom: 30px;
}

.extra-pad-top3{
  padding-top: 15px;
  padding-bottom: 15px;
}

.extra-pad-footer {
 	padding-top: 80px !important;
  padding-bottom: 80px !important;
 }

.extra-pad-right{
  	padding-right: 0px !important;
 }

.list-unstyled.love li{
	font-family: $reg-font-family;
	position: relative;
  	padding:0 7% 5% 7%;

	//img {
		//border:1px solid #4682b4;
	//}

	a:link{ 
      color: $black !important;
      font-style: normal;
      font-weight: normal;
    }
    a:hover{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:focus{
      color: $black !important;
      text-decoration: none;     
    }
    a:active{
     color: $black !important; 
     text-decoration: none;    
    }
}

/* ======= change the no-love image ========== */
//
//
//
//

.jumbotron {
	height: 100%;
	background-image: url("../img/one.jpg");
	background-size: cover;
}

// IcoMoon Font 
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?6pxcm3');
    src:    url('../fonts/icomoon.eot?6pxcm3#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?6pxcm3') format('truetype'),
        url('../fonts/icomoon.woff?6pxcm3') format('woff'),
        url('../fonts/icomoon.svg?6pxcm3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: "\e900";
}
.icon-mail2:before {
    content: "\e901";
}


// #videoDiv {
  // width: 100%; 
  // height: 100%; 
  // position: relative;
// }

//#videoBlock {
  //width: 100%; 
  //height: 100%;  
  //display: flex;  
  //justify-content: center; 
  //align-items: center;
//}


.bg-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.bg-video #player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.bg-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.extra-pad-sect{
  padding-top: 40px;
  padding-bottom: 40px;
}


.copyright {
  font-family: $nav-font-family;
  font-size: 10px !important;
  letter-spacing: 0.5px;
  padding-bottom: 20px !important;
  padding-top: 14px !important;
  text-decoration: none !important; 
  list-style-type: none;
}


