


// Mobile Media Queries For Tablets and above
@media(min-width:768px){
  .side-copy {
    text-align: right;
    float: left !important;
}

  .nav {
    font-size: 14px;
      li{
        margin: 0px 0;
      }
  }
}
// Small Sizes
@media(max-width:767px){

  .image-left{
     height: 50%;
      width: 50%;
      float: left !important;
      padding: 0 10px 0 0px !important;
  }

  .text-left {
    padding: 2em 0 0 0 !important;
  }

  .extra-pad-left{
  padding-left: 0px !important;
  }

   .extra-pad-right{
  padding-right: 0px !important;
  }

  .extra-pad-top {
    padding-top: 0px !important;
  }

  .extra-pad-top2 {
    padding-top: 20px !important;
  }

  .list-unstyled.love {
   
    li {
      max-width: 767px; 
      margin: 0 auto; 
      padding: 0 0 40% 0px !important;
        span {
          height: 70px;
          display: table-cell;
          vertical-align: bottom;
        }
    }

    img {
      height: 50%;
      width: 50%;
      float: left;
      padding: 0 10px 0 0px !important;
    }
  }


  .device {
    display: block;
    margin: 20px auto 0 auto;
  }

  .device-small {
    margin-bottom: 20px !important;
  }

  .nav {
    font-size: 2em;
      li{
        margin: 20px 0;
      }
  }

  h4 {
    font-family: $reg-font-family;
    font-size: 2em !important;
    color: $black !important;
    font-weight: normal !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
  }

  h1 {
    padding-top: 30px;
  }

  h5 {
  font-family: $reg-font-family;
    font-size: 5em !important;
    line-height: .80em !important;
    color: $white !important;
    font-weight: bold;
    margin-top: 5% !important;
    margin-bottom: 10px !important;
    margin-left: 0 !important;
    a:link{ 
      color: $white !important;
      text-decoration: none; 
    }
    a:hover{ 
      color: $white !important;
      text-decoration: none; 
    }
    a:focus{
      color: $white !important;
      text-decoration: none;     
    }
     a:visited{
      color: $white !important;
      text-decoration: none;     
    }
    a:active{
     color: $white !important; 
     text-decoration: none;    
    }
  }

h6 {
    font-size: 1.3em !important;
    font-style: italic;
    margin-top: 10px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

  //.side-copy {
   // align: left;
  //}
}