


// Mobile Media Queries For Tablets and above
@media(min-width:768px){
  .side-copy {
    text-align: right;
    float: left !important;
  }

  .pad-left{
  padding-left: 15% !important;
  }

  .pad-right{
  padding-right: 15% !important;
  }

  .kill {
    display: none;
  }

  .nav {
    font-size: 14px;
      li{
        margin: 0px 0;
      }
  }
}

// Mobile Media Queries For Tablets
@media(max-width:991px){
  .pad-left{
  padding-left: 10% !important;
  }

  .pad-right{
  padding-right: 10% !important;
  }
}

h6 {
    font-size: 1.3em !important;
    line-height: 1.6em !important;
    font-style: italic;
    margin-top: 10px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

// Small Sizes
@media(max-width:767px){

//   .collapsing {
//     background-color: rgba(255,255,255,0.6);
//   }

  #custom-nav {
    background-color: rgba(0,0,0,0.8);
  }

  .navbar {
    background-color: rgba(255,255,255,0.6);
  }

  .image-left{
     height: 50%;
      width: 50%;
      float: left !important;
      padding: 0 10px 0 0px !important;
  }

  .pad-left{
  padding-left: 0px !important;
  }

  .pad-right{
  padding-left: 0px !important;
  }

  .text-left {
    padding: 2em 0 0 0 !important;
  }

  .extra-pad-left{
  padding-left: 0px !important;
  }

   .extra-pad-right{
  padding-right: 0px !important;
  }

  .extra-pad-top {
    padding-top: 0px !important;
  }

  .extra-pad-top2 {
    padding-top: 20px !important;
  }

  .list-unstyled.love {
   
    li {
      max-width: 767px; 
      margin: 0 auto; 
      padding: 0 0 40% 0px !important;
        span {
          height: 70px;
          display: table-cell;
          vertical-align: bottom;
        }
    }

    img {
      height: 50%;
      width: 50%;
      float: left;
      padding: 0 10px 0 0px !important;
    }
  }


  .device {
    display: block;
    margin: 20px auto 0 auto;
    border: 0 !important;
    outline: none !important;
    box-shadow:none !important;
      a:focus{
        border: 0 !important;
        outline: none !important;
        box-shadow:none !important;
      }
  }

  .device-small {
    margin-bottom: 20px !important;
  }

  .nav {
    font-size: 4em;
    line-height: 2em !important;
      li{
        margin: 40px 0;
      }
  }
  
  h2 {
    margin-bottom: 20px !important;
  }

  h3 {
    display: none;
  }

  h4 {
    text-align: left;
  }

  h5 {
    font-family: $reg-font-family;
    font-size: 5em !important;
    line-height: .80em !important;
    color: $white !important;
    font-weight: bold;
    margin-top: 5% !important;
    margin-bottom: 10px !important;
    margin-left: 0 !important;
    a:link{ 
      color: $white !important;
      text-decoration: none; 
    }
    a:hover{ 
      color: $white !important;
      text-decoration: none; 
    }
    a:focus{
      color: $white !important;
      text-decoration: none;     
    }
     a:visited{
      color: $white !important;
      text-decoration: none;     
    }
    a:active{
     color: $white !important; 
     text-decoration: none;    
    }
  }

#adjust {
  font-size: 4vw;
  align: center;
  text-align: center;
}

h6 {
    font-size: 1.3em !important;
    font-style: italic;
    margin-top: 10px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

  //.side-copy {
   // align: left;
  //}
}