/* _sections.scss */
//section {
//	padding: 60px 0;
//}

//.bgimage-inside {
//padding-top: 37.36%; /* this is actually (426/1140)*100 */
//}

#rectangle {
	width: 160px;
	height: 1px;
	background: $black;
	//overflow: hidden;
}


//.rectangle {
//	padding-bottom: -5px;
//}

.selected img {
	opacity:0.5;
}

div#slider-thumbs ul {
  height:85px; 
  white-space:nowrap; 
  overflow-y:hidden; 
  overflow-x:auto; 
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}






/* #####################################################################
   #
   #   Project       : Modal Login with jQuery Effects
   #   Author        : Rodrigo Amarante (rodrigockamarante)
   #   Version       : 1.0
   #   Created       : 07/28/2015
   #   Last Change   : 08/02/2015
   #
   ##################################################################### */
   
//@import url(http://fonts.googleapis.com/css?family=Roboto);

//* {
//    font-family: 'Roboto', sans-serif;
//}

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

/*
.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}
*/
.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}



/* #####################################################################
   #
   #   Project       : Footer
   #   Author        : Lance Foley
   #   Version       : 1.0
   #   Created       : 08/19/2018
   #   Last Change   : 
   #
   ##################################################################### */

/* 
input[type=text] {
  background-color: #ffffff !important;
  font-family: $nav-font-family;
  font-size: 10px !important;
  letter-spacing: 0.5px;
  padding-bottom: 0px !important;
  padding-top: 14px !important;
  text-decoration: none !important; 
}

.form-control {
    border: 0;
}


.no-border {
    border: 0;
    box-shadow: none; 
}

*/
.btn-arrow {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-bottom: 10px;
}




input[type="text"],
select.form-control {
  padding-left: 1px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-family: $nav-font-family;
  font-size: 10px !important;
  letter-spacing: 0.5px;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.footer-padding {
  padding-top: 10px;
  padding-bottom: 50px;
}

.footer-bs {
  background-color: #ffffff;
  padding: 10px 0px;
  color: rgba(0,0,0,1.00);
  margin-bottom: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:40px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(0,0,0,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(0,0,0,0.80); text-decoration:none; }
.footer-bs .footer-nav {
  font-family: $nav-font-family;
  font-size: 10px !important;
  letter-spacing: 0.5px;
  padding-bottom: 0px !important;
  padding-top: 14px !important;
  text-decoration: none !important; 
  list-style-type: none;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(0,0,0,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(0,0,0,0.60); text-decoration:none; }



.footer-bs .footer-ns {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
  .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(0,0,0,1); }
}

.content2 {
        width: 200px;
        height: 600px;
        background-color: blue;

        position:absolute; /*it can be fixed too*/
        left:0: right:0;
        top:0: bottom:0;
        margin: auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
}

img.cent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}