/* _sections.scss */
//section {
//	padding: 60px 0;
//}

//.bgimage-inside {
//padding-top: 37.36%; /* this is actually (426/1140)*100 */
//}

#rectangle {
	width: 80px;
	height: 2px;
	background: $lt-grey;
	//overflow: hidden;
}


//.rectangle {
//	padding-bottom: -5px;
//}